.add-bikes form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-bikes form input, textarea{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
}

.bg-custom{
    background-color: #0e101c;
}

.text-custom {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
  }